.related {
    padding-top: calculaterem(86px);
    padding-bottom: calculaterem(100px);
    background: $off-white;
}

.related__header {
    margin-bottom: calculaterem(53px);
}

.related__item {
    border-top: calculaterem(18px) solid $black;
    width: calculaterem(320px);
}