 <section>
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Vrijwilliger zijn?</h1>
          <p>Vind je vacature.</p>
          <div>
            <input name="s" placeholder="Zoek op trefwoord" />
            <button>search</button>
          </div>
        </div>
      </div>
    </div>
  </section>