<footer class="mt-5 footer">
    <div class="footer_top d-flex flex-row">
      <div class="sign-up bg-dark text-light border-top d-flex flex-column justify-content-center align-items-start p-5">
        <h3>Wil je op de hoogte blijven? </h3>
        <p>Laat dan je e-mailadres achter om de meest recente vacatures, kandidaten en ander nieuws te ontvangen.</p>
        <div class="form-group">
          <input name="email" class="form-control" placeholder="ZJe e-mail adres" />
          <button class="btn btn-danger">Aanmelden</button>
        </div>
      </div>
      <div class="banner">
        <img src="img/side.png">
      </div>
    </div>
    <div class="footer_bottom mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="mb-5">
              <h5>Vacaturebank</h5>
              <nav class="col-md-3 d-flex flex-column">
                <a href="#">Curabitur</a>
                <a href="#">Malesuada</a>
                <a href="#">Ultrices enim</a>
                <a href="#">Sodales nunc</a>
                <a href="#">Interdum</a>
              </nav>
            </div>
            <div class="mb-5">
              <h5>Vrijwilligersacademie </h5>
              <nav class="col-md-3 d-flex flex-column">
                <a href="#">Curabitur</a>
                <a href="#">Malesuada</a>
                <a href="#">Ultrices enim</a>
                <a href="#">Sodales nunc</a>
                <a href="#">Interdum</a>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-5">
              <h5>Advies</h5>
              <nav class="col-md-3 d-flex flex-column">
                <a href="#">Curabitur</a>
                <a href="#">Malesuada</a>
                <a href="#">Ultrices enim</a>
                <a href="#">Sodales nunc</a>
                <a href="#">Interdum</a>
              </nav>
            </div>
            <div class="mb-5">
              <h5>Aanmelden</h5>
              <nav class="col-md-3 d-flex flex-column">
                <a href="#">Curabitur</a>
                <a href="#">Malesuada</a>
                <a href="#">Ultrices enim</a>
                <a href="#">Sodales nunc</a>
                <a href="#">Interdum</a>
              </nav>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column">
            <img src="img/part1.png" class="mb-5">
            <img src="img/part2.png" class="mb-5">
            <img src="img/part3.png" class="mb-5">
          </div>
          <div class="col-md-3">
            <div>
              <h5>MOOIWERK</h5>
              <p> Postadres
                <br>Postbus 5675, 4801 EB Breda</p>
              <p> Bezoekadres
                <br> Heerbaan 100, Breda</p>
              <p class="d-flex flex-column">
                <span>076 523 35 55</span>
                <span>info@mooiwerkbreda.nl</span>
                <span>www.mooiwerkbreda.nl</span>
              </p>
            </div>
            <div>MOOIWERK is een onderdeel van
              <br>
              <span>Stichting Breda Actief</span>
            </div>
            <div class="mt-2">
              <h5 class="mb-2">Volg ons via</h5>
              <nav>
                <a href="#" alt="Facebook icon">
                  <img src="img/facebook.svg">
                </a>
                <a href="#" alt="Twitter icon">
                  <img src="img/twitter.svg">
                </a>
                <a href="#" alt="Linkedin icon">
                  <img src="img/linkedin.svg">
                </a>
                <a href="#" alt="Youtube icon">
                  <img src="img/youtube.svg">
                </a>
              </nav>
            </div>
          </div>
        </div>
        <div class="text-center">© 2018 Mooi Werk - All rights reserved
        </div>
      </div>
    </div>
  </footer>
