<div class="top-bar bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="tagline">
                    <span>Breda voor Elkaar... voor en met elkaar!</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <span>
                    Bel ons! 076 52 33 555
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    <a href="#">vacaturebank@breda-actief.nl</a>
                </span>
            </div>
        </div>
    </div>
</div>
