<form>
  <section class="mb-4">
    <h1 class="">Datum gepost</h1>
    <input type="radio" name="datum-gepost" value="Laatste uur"> Laatste uur
    <br>
    <input type="radio" name="datum" value="Laatste 24 uur"> Laatste 24 uur
    <br>
    <input type="radio" name="datum" value="Laatste 7 dagen"> Laatste 7 dagen
    <br>
    <input type="radio" name="datum" value="Laatste 14 dagen"> Laatste 14 dagen
    <br>
    <input type="radio" name="datum" value="Laatste 30 dagen"> Laatste 30 dagen
    <br>
    <input type="radio" name="datum" value="Allemaal" checked> Allemaal
    <br>
  </section>
  <section class="mb-4">
    <h1 class="">Hoe vaak</h1>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Eenmalig
        <span class="badge badge-primary badge-pill">5</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Regelmatig
        <span class="badge badge-primary badge-pill">5</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Soms
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Structureel
        <span class="badge badge-primary badge-pill">5</span>
      </li>
    </ul>

  </section>
  <section class="mb-4">
    <h1 class="">Soort vrijwilligers</h1>
    <div>
      <input type="checkbox" name="soort-vrijwilligers" value="(huis)dieren"> (huis)dieren
      <span class="text-right">5</span>
      <div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Activiteitenbegeleiding"> Activiteitenbegeleiding
          <span class="text-right">5</span>
        </div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Administratie"> Administratie
          <span class="text-right">2</span>
        </div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Bar & kantine"> Bar & kantinespan
          <span class="text-right">5</span>
        </div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Bestuur & strategie"> Bestuur & strategie
          <span class="text-right">5</span>
        </div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Boodschappen"> Boodschappen
          <span cclass="text-right">5</span>
        </div>
        <div>
          <input type="checkbox" name="soort-vrijwilligers" value="Collecte & fondsenwerving"> Collecte & fondsenwerving
          <span class="text-right">2</span>
        </div>
  </section>

  <button class="btn btn-light">lees meer</button>
</form>