---
bodyclass: body
language: nl
meta:
  description: Meta description
  keywords: keywords
  robots: index, follow
title: Profile
uri: /
---

{{#extend "base"}}
{{#content "main"}}
      <main>
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-sm-10">
          <h1>Vrijwilig consulent GGZ en Vriendendienst</h1>
          <p>
            <small>Coördineren & regelen.</small>
            <br/>
            <small>29 juni 2018 - Breda, Nederland</small>
          </p>
        </div>
        <nav class="col-sm-12 d-flex flex-row justify-content-between border-top">
          <div><a href="#" class="card-link"> Reageer nu</a>
            <a href="#" class="card-link">Reageer met LinkedIn</a>
          </div>
          
          <div class="">
            <span>Deel deze pagina</span>
            <a href="#">
              <img src="./img/facebook.svg" alt="Facebook">
            </a>
            <a href="#">
              <img src="./img/twitter.svg" alt="Twitter">
            </a>
            <a href="#">
              <img src="./img/linkedin.svg" alt="Linkedin">
            </a>
            <a href="#">
              <img src="./img/linkedin.svg" alt=Google + "">
            </a>
          </div>
        </nav>
      </div>

      <div class="row">
        <article class="col-sm-8 p-2">
          <h2>Een fantastische werkervaringsplek!</h2>
          <p>Mensen met psychische problematiek lopen vaak vast in het dagelijks leven. Er kan sprake zijn van eenzaamheid of
            sociaal isolement. Ook overbelasting van hun mantelzorger komt steeds vaker voor. Als vrijwillig consulent GGZ
            en Vriendendienst, zorg jij dat deze mensen van StiB de ondersteuning krijgen die bij hen past.</p>
          <blockquote class="blockquote m-3">
              <p class="mr-5 display-5 text-danger">Door jou krijgen mensen met psychische problemen en hun mantelzorger de juiste hulp!</p>
          </blockquote>
          <p>StiB biedt ondersteuning aan mensen met psychische problematiek die zelfstandig thuis wonen en hun mantelzorgers.
            Als consulent GGZ en Vriendendienst zorg jij ervoor dat deze mensen de ondersteuning krijgen die bij hen past.
            Jij voert intakegesprekken om de hulpvraag te achterhalen en geeft informatie, advies en ondersteuning. Ook zorg
            jij voor de juiste match tussen hulpvrager en vrijwilliger. Daarnaast help je mensen met psychische problematiek
            en hun mantelzorgers om hun eigen netwerk in kaart te brengen en stap voor stap hun hulptroepen te organiseren.
            Zo zorg je ervoor dat zij hun netwerk versterken en dat de mantelzorgers minder worden belast.
          </p>
          <p>Je werkzaamheden zijn aanvullend en voer je uit onder supervisie van de coördinator GGZ en Vriendendienst.
          </p>
          <p>Naast de direct cliëntgebonden werkzaamheden voer je een aantal administratieve taken uit, zoals verslaglegging
            en rapportage. Uiteindelijk kan je takenpakket en verantwoordelijkheid binnen het team naar wens worden uitgebreid.</p>
          </p>
          <h2>Jouw profiel</h2>
          <ul>
            <li>HBO werk- en denkniveau</li>
            <li>Kennis over en/of ervaring met het werken met mensen met een psychiatrisch ziektebeeld</li>
            <li>Beschikbaar voor tenminste 16 uur per week</li>
            <li>BCommunicatief vaardig, makkelijk kunnen schakelen tussen cliënt, omgeving en professionals</li>
            <li>Kunnen werken in teamverband, maar ook zelfstandig</li>
            <li>Een flexibele werkhouding</li>
            <li>Computervaardigheden t.b.v. verslaglegging en registratie</li>
          </ul>
          <h2>Wij bieden</h2>
          <ul>
            <li>Een prettige werksfeer binnen een enthousiast team</li>
            <li>een interessante werkervaringsplek</li>
            <li>Ruimte voor creativiteit en eigen inbreng bij de invulling van je functie</li>
            <li>Flexibele werktijden (werkdagen in overleg)</li>
            <li>Persoonlijke begeleiding door de coördinator GGZ & Vriendendienst/li>
              <li>Bijeenkomsten, cursussen en (scholings)activiteiten voor vrijwilligers</li>
              <li>Onkostenvergoedingen en een WA-verzekering</li>
          </ul>
          <p>
            Steunpunt informele zorg Breda (StiB) is het kenniscentrum voor mantelzorg in Breda. Iedereen die te maken heeft met mantelzorg
            kan bij StiB terecht voor informatie, advies en ondersteuning op maat. Daar waar de omgeving niet van dienst
            kan zijn, ondersteunen zorgvrijwilligers van StiB bij zorg thuis. Vrijwilligers kunnen door het jaar heen deelnemen
            aan interessante thema-avonden en trainingen. Zo doen we er alles aan om vrijwilligers goed te begeleiden tijdens
            hun werk.
          </p>
        </article>
        <aside class="col-sm-4">
          <div class="row m-2">
              <div class="col-sm p-3 border shadow">
              <h5>Extra informatie</h5>
              <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-briefcase"></i> Opleidingsniveau HBO</li>
                <li class="list-group-item"><i class="fas fa-briefcase"></i>  Ervaring 2 jaar</li>
                <li class="list-group-item"><i class="fas fa-briefcase"></i>  VGeen vergoeding</li>
              </ul>
              </div>
          </div>
          <div class="row m-2">
              {{> contact}}
          </div>
        </aside>
      </div>
    </div>
  </main>
{{/content}}
{{/extend}}
