--- bodyclass: body language: nl meta: description: Meta description keywords: keywords robots: index, follow title: Vacancies
uri: / --- {{#extend "base"}} {{#content "main"}}
<section>
    <div class="container">
        <div class="row">
            <aside class="col-md-4 p-4">
                {{> navigator}}
            </aside>
            <main class="col-md-8">
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Vrijwillig consulent GGZ en Vriendendienst</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Landelijke luisterlijn Breda zoekt chat- en telefoonvrijwilligers</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Vrijwillig consulent GGZ en Vriendendienst</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Landelijke luisterlijn Breda zoekt chat- en telefoonvrijwilligers</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Vrijwillig consulent GGZ en Vriendendienst</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <div class="card shadow mb-5 p-4 bg-light text-dark border-light">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img src="//placehold.it/600x600" class="w-100">
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="card-block">
                                <h4 class="card-title">Landelijke luisterlijn Breda zoekt chat- en telefoonvrijwilligers</h4>
                                <h6 class="card-subtitle">Coördineren & regelen</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl mauris, lobortis a maximus sed,
                            sollicitudin et est. Quisque et dolor neque. Duis in facilisis ante. Praesent quis malesuada
                            quam.
                        </p>
                        <a>lees meer ›</a>
                        <p>2 weken geleden - Breda, Nederland</p>
                    </div>
                </div>
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>
</section>
{{/content}} {{/extend}}